body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(31, 5, 39);
    overflow-x: hidden;
    padding-top: 0px;
  }
  
  #side-header{
    width: 100%;
    display: inline-flex;
    background-color: rgb(22, 3, 27);
    color: aliceblue;
    text-align: center;
    border-bottom: 2px solid rgb(44, 23, 65);
    padding: 10px;
  }
 
  #side-header h5{
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
  }

  #groupPlus{
    position: fixed;
    top: 10px;
    left: 150px;
    padding: 3px 8px 3px 8px;
    border: none;
    background-color:  rgb(22, 3, 27);
    color: white;
    border-radius: 50%;
  }
  #groupPlus:hover{
    background-color:  rgb(44, 23, 65);
  }
  .side-tab{
    color: rgb(223, 205, 205);
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid rgb(9, 32, 53);
    transition: 0.4s;
  }

  .side-tab:hover{
    background-color: rgb(44, 23, 65);
  }

  .sidenav .private-ico{
    height: 1.5rem;
  }
  .side-tab p{
    margin-left: 10px;
    padding-top: 22px;
  }

  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }

  .main #page-header{
    width: 100%;
    background-color: rgb(239, 234, 247);
    text-align: center;
    padding: 7px;
  }

  #settingsBtn{
    position: absolute;
    top: 7px;
    right: 10px;
  }

  #body-files{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
  }

  #body-files .card{
    margin: 10px;
  }

  .ratings{
    width: 100%;
    display:inline-flex;
    justify-content: space-between;
  }

  .ratings .voteImg{
    height:30px;
    border-radius: 50%;
    margin: 3px;
    padding: 4px;
    transition: 0.5s;
  }

  .ratings .voteImg:hover{
    background-color: rgb(173, 170, 164);
  }

  #logoutBtn{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 10px;
    left: 20px;

  }
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
  }

  #uploadBtn{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 10px;
    right: 20px;
  }
  