#headerDiv{
    background-color: rgb(44, 23, 65);
}
#headerDetails{
    border-top: 2px solid white;
    padding: 20px 50px 20px 20px;
    width: 100%;
    background-color: rgb(44, 23, 65);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: aquamarine;
}

#headerDiv h1 h3{
    margin: 5px;                                                                                                                         
}

#headerDiv h2{
    color: rgb(255, 255, 255);
}

#adminC{
    background-color: thistle;
    display: flex;
    justify-content: space-around;
}

#adminC button{
    margin: 5px;
    margin-top: 10px;
}